<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A simple web application to train your blindfold chess skills." />
    <meta name="keywords" content="chess, blindfold chess, training, skills" />
    <meta name="author" content="Blindfold Chess Trainer Team" />

    <title>Blindfold Chess Trainer</title>

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    </style>
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Blindfold Chess Trainer</h1>
        </div>
        <nav class="flex-all-center">
            <ul class="flex-all-center">
                <li><a href="#" class="nav_items active">Play Yourself</a></li>
                <li>
                    <a href="{{ url_for('choose_color') }}" class="nav_items">Play the Computer</a>
                </li>
                <li><a href="/history" class="nav_items">History</a></li>
            </ul>
        </nav>
        <div class="user-info flex-all-center">
            <!-- <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="User Icon" class="user-icon" /> -->
            <span class="username">Abyss</span>
        </div>
    </header>

    <main class="flex-all-center">
        <div class="playing_area">
            <h2 class="turn">It's {{ turn }}'s turn</h2>
            <form action="/" method="post" class="main_area">
                <input type="text" name="move" placeholder="Enter your Move" required autocomplete="off" autofocus
                    class="move_input" id="moveInput" />
                <input type="submit" value="play" class="btn"/>
            </form>
            <div class="error">
                {% if error %}
                <p class="error_message">{{ error }}</p>
                {% endif %}
            </div>
            <form action="/" class="claim_draw" method="post">
                <input type="submit" value="Claim Draw" name="claim_draw" class="btn" />
            </form>
            <form action="/" class="controls flex-all-center" method="post">
                <input type="submit" value="&#x1F6A9;" class="btn" name="resign" />
                <input type="submit" value="&#x1F91D;" class="btn" name="agree_draw" />
            </form> 
    </main>

    <footer class="flex-all-center">
        <p>&copy; 2025 Blindfold Chess Trainer</p>
    </footer>
</body>

</html>